* {
    height: auto;
    width: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-image: url("./images/africa.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}