* {
  height: auto;
  width: 1000px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("./images/globe5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  resize: both;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.jumbotron h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
}

.Locations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  margin-left: 190px;
}
.button a {
  display: flex;
  justify-content: center;
  align-items: center;
}
