* {
  height: auto;
  width: 100%;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  resize: both;
}
.container {
  justify-content: center;
  align-items: center;
  height: auto;
  width: 1600px;
  margin: 20px;
  padding: 10px;
  background-color: skyblue;
  border-radius: 10px;
}

.jumbotron {
  height: auto;
  width: 1560px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  color: black;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 10px;
}

.jumbotron h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: skyblue;
  border-radius: 10px;
}

#Locations a {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: black;
  color: skyblue;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#Locations a:hover {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: skyblue;
  color: black;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.container a {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: black;
  color: skyblue;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.container a:hover {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: skyblue;
  color: black;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
